<p class="h1">Cell By Cell Compare.</p>

<form method="post" enctype="multipart/form-data" asp-controller="CellByCell" asp-action="CellByCell">
    <table>
        <tr>
            <td><label for="myfile">File 1:</label></td>
            <td><input type="file" id="idFile0" runat="server" name="File0"></td>
        </tr>
        <tr>
            <td><label for="myfile">File 2:</label></td>
            <td><input type="file" id="idFile1" runat="server" name="File1"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit and Compare" /></td>
        </tr>
    </table>
</form>

<a>@ViewBag.Info</a>

@if (ViewBag.length != 0)
{
<table id="showTable" class="table table-sm table-bordered table-dark">
    <tr>
        @foreach (string item in ViewBag.header)
        {
            <th scope="col">@item</th>
        }
    </tr>
    <tbody>
        @for (int row = 1; row < ViewBag.text1.Count; row++)
        {
        <tr>
            @for (int col = 0; col < ViewBag.text1[0].Count; col++)
            {
                if (ViewBag.text0[row][col] != ViewBag.text1[row][col])
                {

                    <th class="bg-danger">@ViewBag.text0[row][col] / @ViewBag.text1[row][col]</th>

                }
                else
                {
                    <th>@ViewBag.text0[row][col]</th>
                }

            }
        </tr>
        }
    </tbody>
</table>
}
